<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="David's Carpets" />
<meta name="keywords" content="Carpets, Rugs, Carpet Fittings, Ebbw Vale" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>David's Carpets</title>

<!--stylesheets-->
<%= stylesheet_link_tag "/assets/css/all.min.css" %>
</head>
<body onload="initialize()">
  <%= styled_flash %>


  <%= yield %>
  <%= erb :footer %>


<!-- Javascript -->
<%= javascript_script_tag "/assets/js/all.min.js" %>


  
</body>
</html>